# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# PyCharm project files
.idea/

# VS Code project files (if you ever use it)
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Logs
*.log

# Environment files
.env
*.env

# Cache
*.cache
